body {
  margin: 0px;
  background-image: url(https://i.pinimg.com/736x/d6/7c/3c/d67c3cbce4d7e9355e8522e10434d76c.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 33px 100px;
}

.box {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgb(70, 63, 63);
  width: 350px;
  margin: 10px;
  padding-left: 7px;
  background-color: gray;
}

.pokemonInfo {
  font-size: 21px;
}

.image {
  width: 175px;
  margin-left: 30px;
}
